.header-container{
    display: flex;
    flex-direction: row-reverse;
    height: 10vh;
    align-items: center;
}
.header-profile{
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    background-color: black;
    margin-right: 4vw;
    overflow: hidden;
}
.header-profile img{
    height: 100%;
    width: auto;    
}