.header-container{
    display: flex;
    flex-direction: row-reverse;
    height: 10vh;
    align-items: center;
}
.header-profile{
    width: 12vw;
    height: 12vw;
    border-radius: 25px;
    background-color: black;
    margin-right: 10vw;
}